* {
  margin: 0;
  font-family: "SVN-Cera-Regula";
}

@font-face {
  font-family: "SVN-Cera-Regula";
  src: url(./font/SVN-Cera-Round-Regular.ttf);
}

/* #my-canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  visibility: hidden;
}

#my-canvas.active {
  visibility: visible;
} */

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.column {
  flex-direction: column;
}

.sticky {
  position: sticky;
  top: 0;
}

.over-hiden {
  overflow: hidden;
}

.background {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.section-welcome {
  width: 100%;
  height: 600vh;
}

.welcome-background {
  width: 100%;
  height: 100vh;
}

.welcome-cake-item {
  min-width: 900px;
  height: 600px;
  position: absolute;
  border-radius: 20px;
  background-color: #431a16;
}

.background-1 {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}

.text-welcome {
  position: absolute;
  text-align: center;
  color: bisque;
  font-size: 50px;
  /* transition: 0.3s ease-out; */
  opacity: 0;
}

.section-header {
  width: 100%;
  height: 300vh;
  margin-top: -150vh;
  /* visibility: hidden; */
}

.header-background {
  width: 100%;
  height: 100vh;
}

.header-container {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  opacity: 0;
  background-color: #fdcb8f;
  transition: all ease 0.5s;
  /* z-index: 10; */
  overflow: hidden;
}

.background-2 {
  height: auto;
  position: absolute;
  top: 0;
  opacity: 0;
  transition: ease-out 1s;
}

.bubble,
.tiger {
  width: 100%;
  height: auto;
  position: absolute;
  bottom: 0;
  right: 0;
  transition: ease-out 1s;
  transform: translateY(100%);
  transform: matrix(1, 0, 0, 1, 0, 200);
  opacity: 0;
}

.bubble {
  transition: ease-out 0.8s;
  transform: translateY(-100%);
}

.header-container-child {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  background-color: #fdcb8f;
  transition: all ease 0.5s;
  z-index: 10;
}
.text-7,
.text-8,
.glass {
  opacity: 0;
  transition: all ease 0.5s;
  transform: translateY(100%);
}

.section-content {
  width: 100%;
}

/* ----------------- content ----------------- */

.content-margin_left {
  margin-left: 90px;
}
.content-margin_right {
  margin-right: 90px;
}

.content-1,
.content-2,
.content-3,
.content-4,
.content-5,
.content-6 {
  width: 100%;
  height: 100vh;
  background-color: #05825e;
  position: relative;
}

.container {
  position: relative;
  width: 1000px;
  height: 100%;
  margin: auto;
}

.part {
  height: 50%;
}

.container-img {
  position: relative;
  width: 50%;
  height: 600px;
}

.img {
  height: auto;
  border-radius: 30px;
  border: 5px dashed azure;
  padding: 10px;
}

.icon {
  position: absolute;
  height: 100px;
  width: 100px;
  border-radius: 20px;
  font-size: 30px;

  /* From https://css.glass */
  /* background: rgba(255, 255, 255, 0.2); */
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.container-content {
  width: 50%;
  font-size: 25px;
  margin-top: -70px;
  color: azure;
  z-index: 9;
}

.container-content h1 {
  line-height: 100px;
}

.container-content p {
  line-height: 35px;
  text-align: justify;
}

.background__blue {
  background: rgba(0, 72, 255, 0.5);
}
.background__blue-deep {
  background-color: rgba(47, 13, 235, 0.5);
}
.background__blue-dark {
  background-color: rgba(66, 40, 185, 0.5);
  /* background-color: #2a1196; */
}
.background__violet-dark {
  background-color: rgba(129, 14, 224, 0.5);
  /* background-color: #5330ac; */
}
.background__violet-deep {
  background-color: rgba(79, 0, 115, 0.5);
  /* background-color: #631886; */
}

.background__yellow {
  background-color: rgba(228, 124, 13, 0.5);
  /* background-color: #631886; */
}

.background__red {
  background-color: rgba(162, 0, 0, 0.5);
  /* background-color: #631886; */
}

/* ---------------- Các thuộc tính tuỳ chỉnh cho đối tượng ----------- */

.hidden-shape__circle {
  scale: 0;
  transition: all ease 1s;
}

.hidden-shape__square {
  scale: 0;
  transition: all ease 1s;
}

.hidden-shape__triangle {
  scale: 0;
  transition: all ease 1.5s;
}

@media (prefers-reduced-motion) {
  .hidden-shape__circle {
    transition: none;
  }
}

.show {
  opacity: 1;
  scale: 1;
  transform: translateX(0);
  transform: translateY(0);
  transform: rotate();
}

.show-hide {
  opacity: 0;
}

.avt-1 {
  width: 70%;
  transform: rotate(-7deg);
}

/* Cup */
.icon-1 {
  top: 0;
  right: -40px;
  scale: 1.2;
  color: gold;
  transform: rotate(8deg);
}

/* Money */
.icon-2 {
  bottom: 0;
  left: -40px;
  color: rgb(0, 193, 61);
  transform: rotate(-10deg);
}

.circle {
  position: absolute;
  height: 600px;
  width: 600px;
  scale: 1;
  border-radius: 50%;
  /* background-color: #079c72; */
  background-color: #47b06a;
}

.avt-2 {
  width: 70%;
  transform: rotate(7deg);
}

/* Spa */
.icon-3 {
  top: 0;
  left: 0;
  color: #beaafe;
  transform: rotate(-10deg);
}

/* Heart */
.icon-4 {
  bottom: 0;
  left: -40px;
  color: #f94357;
  scale: 1.3;
  transform: rotate(-4deg);
}

/* Nothing */
.icon-5 {
  top: 300px;
  right: -50px;
  scale: 0.4;
  transform: rotate(45deg);
}

.avt-3 {
  width: 70%;
  transform: rotate(-2deg);
}

.triangle {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 300px 500px 400px;
  border-color: transparent transparent #47b06a transparent;
  /* border: 2px solid #47b06a; */
  position: absolute;
  top: -10%;
  left: 0%;
  transform: rotate(45deg);
}

/* Music */
.icon-6 {
  bottom: 50px;
  left: -50px;
  color: #75a0ff;
  scale: 0.7;
  transform: rotate(25deg);
}

/* fire */
.icon-7 {
  top: 300px;
  right: -70px;
  color: #f94357;
  scale: 1;
  transform: rotate(5deg);
}

/* Start */
.icon-8 {
  top: 0px;
  left: -50px;
  color: gold;
  scale: 1.2;
  transform: rotate(-18deg);
}

.square {
  position: absolute;
  height: 600px;
  width: 500px;
  border-radius: 30px;
  transform: rotate(-12deg);
  background-color: #47b06a;
}

.square-2 {
  position: absolute;
  height: 80vh;
  width: 90%;
  border-radius: 30px;
  transform: rotate(0deg);
  background-color: #289b64;
}

.content-4 .container-content {
  margin: 0 35px;
  width: 90%;
  /* text-align: center; */
}

.content-4 h1 {
}

.flower {
  position: absolute;
  bottom: -100px;
  right: 0;
  scale: 0.7;
}

.content-5 {
  height: 120vh;
}

.container-avt {
  position: relative;
}

.avt-0 {
  position: relative;
  width: 400px;
  z-index: 5;
}

.content-6 {
  height: 50vh;
}

.ending {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-top: 0;
}

.plant-animate {
  position: absolute;
  bottom: 110px;
}

.plant {
  position: absolute;
  bottom: 50px;

  width: 300px;
  height: 300px;
  scale: 2;
}

.notes-message {
  color: #000000;
  font-size: 17px;
}

.notes-message p {
  margin-bottom: 10px;
  line-height: 25px;
}

.full-width {
  width: 100%;
}

.line {
  padding: 15px 0;
  border-top: 5px solid #000000;
}

.footer {
  width: 100%;
  height: 270px;
  font-size: 15px;
  color: #d2e1ff;
  background: #0b1a33;
}

.container-contact {
  font-size: 15px;
  width: 100%;
  height: 60%;
  padding-top: 30px;
}

.container-contact h3 {
  font-size: 20px;
  margin-bottom: 20px;
}

.contact-info {
  width: 70%;
  height: 100%;
  font-size: 15px;
  padding-right: 90px;
  float: left;
}

.contact-info p:nth-child(3) {
  margin: 10px 0;
}

.contact-social {
  float: right;
}

.contact-social a:nth-child(3) {
  margin: 0 35px;
}

.icon-social {
  font-size: 30px;
  color: #d2e1ff;
}

.icon-social:hover {
  color: #ecf2ff;
}

.line-white {
  padding: 15px 0;

  border-top: 2px solid #3c485c;
}

.copyright {
  float: left;
  margin-top: 0px;
}

.vietnam {
  float: right;
  margin-top: 0px;
}
