* {
  margin: 0;
  font-family: "SVN-Cera-Regula";
}

@font-face {
  font-family: "SVN-Cera-Regula";
  src: url(./font/SVN-Cera-Round-Regular.ttf);
}

/* #my-canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  visibility: hidden;
}

#my-canvas.active {
  visibility: visible;
} */

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.column {
  flex-direction: column;
}

.sticky {
  position: sticky;
  top: 0;
}

.over-hiden {
  overflow: hidden;
}

.background {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.section-welcome {
  width: 100%;
  height: 600vh;
}

.welcome-background {
  width: 100%;
  height: 100vh;
}

.welcome-cake-item {
  min-width: 900px;
  height: 600px;
  position: absolute;
  border-radius: 20px;
  background-color: #431a16;
}

.background-1 {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}

.scroll-animate {
  position: absolute;
  bottom: -10px;
  left: 47%;
  /* scale: 0.2; */
}

.text-welcome {
  position: absolute;
  text-align: center;
  color: bisque;
  font-size: 50px;
  /* transition: 0.3s ease-out; */
  opacity: 0;
}

.section-header {
  width: 100%;
  height: 300vh;
  margin-top: -150vh;
}

.header-background {
  width: 100%;
  height: 100vh;
}

.header-container {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  opacity: 0;
  background-color: #fdcb8f;
  transition: all ease 0.5s;
  /* z-index: 10; */
  overflow: hidden;
}

.background-2 {
  height: auto;
  position: absolute;
  top: 0;
  opacity: 0;
  transition: ease-out 1s;
}

.bubble,
.tiger {
  width: 100%;
  height: auto;
  position: absolute;
  bottom: 0;
  right: 0;
  transition: ease-out 1s;
  transform: translateY(100%);
  transform: matrix(1, 0, 0, 1, 0, 200);
  opacity: 0;
}

.bubble {
  transition: ease-out 0.8s;
  transform: translateY(-100%);
}

.header-container-child {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  background-color: #fdcb8f;
  transition: all ease 0.5s;
  z-index: 10;
}
.text-7,
.text-8,
.glass {
  opacity: 0;
  transition: all ease 0.5s;
  transform: translateY(100%);
}

.section-content {
  width: 100%;
}

/* content */

.content-margin_left {
  margin-left: 90px;
}
.content-margin_right {
  margin-right: 90px;
}

.content-1,
.content-2,
.content-3,
.content-4,
.content-5,
.content-6 {
  width: 100%;
  height: 100vh;
  background-color: #05825e;
  position: relative;
}

.container {
  position: relative;
  max-width: 1000px;
  height: 100%;
  margin: auto;
}

.part {
  height: 50%;
}

.container-img {
  position: relative;
  width: 50%;
  height: 600px;
}

.img {
  height: auto;
  border-radius: 30px;
  border: 5px dashed azure;
  padding: 10px;
}

.icon {
  position: absolute;
  height: 100px;
  width: 100px;
  border-radius: 20px;
  font-size: 30px;

  /* From https://css.glass */
  /* background: rgba(255, 255, 255, 0.2); */
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.container-content {
  width: 50%;
  font-size: 25px;
  margin-top: -70px;
  color: azure;
  z-index: 9;
}

.container-content h1 {
  line-height: 100px;
}

.container-content p {
  line-height: 35px;
  text-align: justify;
}

.background__blue {
  background: rgba(0, 72, 255, 0.5);
}
.background__blue-deep {
  background-color: rgba(47, 13, 235, 0.5);
}
.background__blue-dark {
  background-color: rgba(66, 40, 185, 0.5);
  /* background-color: #2a1196; */
}
.background__violet-dark {
  background-color: rgba(129, 14, 224, 0.5);
  /* background-color: #5330ac; */
}
.background__violet-deep {
  background-color: rgba(79, 0, 115, 0.5);
  /* background-color: #631886; */
}

.background__yellow {
  background-color: rgba(228, 124, 13, 0.5);
  /* background-color: #631886; */
}

.background__red {
  background-color: rgba(162, 0, 0, 0.5);
  /* background-color: #631886; */
}

/* ---------------- Các thuộc tính tuỳ chỉnh cho đối tượng ----------- */

/* -------- Content-1 -------- */
.avt-1 {
  width: 70%;
  transform: rotate(-7deg);
}

/* Cup */
.icon-1 {
  top: 0;
  right: -40px;
  color: gold;
  scale: 1.2;
  rotate: 8deg;
  /* transform: rotate(8deg); */
}

/* Money */
.icon-2 {
  bottom: 0;
  left: -40px;
  color: rgb(0, 193, 61);
  rotate: -10deg;
  /* transform: rotate(-10deg); */
}

.circle {
  position: absolute;
  height: 600px;
  width: 600px;
  scale: 1;
  border-radius: 50%;
  background-color: #47b06a;
}

/* -------- Content-2 -------- */

.avt-2 {
  width: 70%;
  transform: rotate(7deg);
}

/* Spa */
.icon-3 {
  top: 0;
  left: 0;
  color: #beaafe;
  rotate: -10deg;
}

/* Heart */
.icon-4 {
  bottom: 0;
  left: -40px;
  color: #f94357;
  scale: 1.3;
  rotate: -4deg;
}

/* Nothing */
.icon-5 {
  top: 300px;
  right: -50px;
  scale: 0.4;
  rotate: 45deg;
}

.square {
  position: absolute;
  height: 600px;
  width: 500px;
  border-radius: 20px;
  scale: 1;
  rotate: -12deg;
  background-color: #47b06a;
}

/* -------- Content-3 -------- */

.avt-3 {
  width: 70%;
  transform: rotate(-2deg);
}

/* Music */
.icon-6 {
  bottom: 50px;
  left: -50px;
  color: #75a0ff;
  scale: 0.7;
  rotate: 25deg;
}

/* fire */
.icon-7 {
  top: 300px;
  right: -70px;
  color: #f94357;
  scale: 1;
  rotate: 5deg;
}

/* Start */
.icon-8 {
  top: 0px;
  left: -50px;
  color: gold;
  scale: 1.2;
  rotate: -18deg;
}

.triangle {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 300px 500px 400px;
  border-color: transparent transparent #47b06a transparent;
  /* border: 2px solid #47b06a; */
  position: absolute;
  top: -10%;
  left: 0%;
  rotate: 45deg;
}

/* -------- Content-4 -------- */

.square-2 {
  position: absolute;
  height: 80vh;
  width: 90%;
  border-radius: 30px;
  transform: rotate(0deg);
  background-color: #289b64;
}

.content-4 .container-content {
  margin: 0 35px;
  width: 90%;
  /* text-align: center; */
}

.content-4 h1 {
}

.flower {
  position: absolute;
  bottom: -100px;
  right: 0;
  scale: 0.7;
}

/* -------- Content-5 -------- */

.content-5 {
  height: 100vh;
}

.container-avt {
  position: relative;
  animation: ballons 30s ease-in-out infinite;
}

@keyframes ballons {
  0% {
    transform: translate(-5%, 5%);
  }
  25% {
    transform: translate(0%, 5%);
  }
  50% {
    transform: translate(5%, 5%);
  }
  75% {
    transform: translate(5%, 5%);
  }
  100% {
    transform: translate(-5%, 5%);
  }
}

.avt-4 {
  position: relative;
  width: 400px;
  z-index: 5;
}

.content-6 {
  height: 50vh;
}

.ending {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-top: 0;
}

.notes-message {
  width: 100%;
  position: relative;
  margin-top: 0;
  color: #d2e1ff;
  /* color: #3b3f64; */
  font-size: 17px;
  transform: translate(0, 100%);
  transition: all 0.5s ease-in-out;
  z-index: 4;
}

.notes-message:hover {
  transform: translate(0, 0);
}

.notes-message h3 {
  margin-bottom: 10px;
  line-height: 25px;
}

.notes-message p {
  margin-bottom: 10px;
  line-height: 25px;
}

.plant-animate {
  position: relative;
}

.plant {
  position: absolute;
  bottom: -21px;
}

.full-width {
  width: 100%;
}

.line {
  padding: 15px 0;
  border-top: 5px solid #3b3f64;
}

.footer {
  width: 100%;
  font-size: 15px;
  color: #d2e1ff;
  background: #0b1a33;
  justify-content: flex-end;
  z-index: 5;
}
/* 
.footer .container {
  width: 100%;
} */

.container-contact {
  width: 100%;
  font-size: 15px;
  height: 200px;
  padding-top: 20px;
}

.container-contact h3 {
  font-size: 20px;
  margin-bottom: 20px;
}

.contact-info {
  width: 70%;
  height: 100%;
  font-size: 15px;
  padding-right: 90px;
  float: left;
}

.contact-info p + p {
  margin: 10px 0;
}

.contact-social {
  float: right;
}

.contact-social a:nth-child(3) {
  margin: 0 35px;
}

.icon-social {
  font-size: 30px;
  color: #d2e1ff;
}

.icon-social:hover {
  color: #ecf2ff;
}

.container-copyright {
  padding: 10px 0;
  margin-bottom: 40px;
  border-top: 2px solid #3c485c;
}

.copyright {
  float: left;
  margin-top: 0px;
}

.vietnam {
  float: right;
  margin-top: 0px;
}

/* --------- Hidden --------- */

.hidden {
  opacity: 0;
  transition: all ease 1s;
}

@media (prefers-reduced-motion) {
  .hidden {
    transition: none;
  }
}

.hidden-shape__circle {
  opacity: 1;
  transform: translate(0) rotate(0deg) scale(0.1);
}

.hidden-shape__square {
  opacity: 1;
  transform: translate(0%, 0%) rotate(45deg) scale(0);
}

.hidden-shape__triangle {
  opacity: 1;
  transform: translate(0%, 0%) scale(0);
}

/* icon hidden */

.hidden-icon__1 {
  transform: translate(-100%, 100%) rotate(-45deg);
}

.hidden-icon__2 {
  transform: translate(130%, -100%) rotate(45deg);
}

.hidden-icon__3 {
  transform: translate(100%, 100%) rotate(0deg);
}

.hidden-icon__4 {
  transform: translate(200%, -200%) rotate(-90deg);
}

.hidden-icon__5 {
  transform: translate(-200%, 100%) rotate(45deg);
}

.hidden-icon__6 {
  transform: translate(200%, -200%) rotate(90deg);
}

.hidden-icon__7 {
  transform: translate(-200%, 0%) rotate(-90deg);
}

.hidden-icon__8 {
  transform: translate(100%, 200%) rotate(-90deg);
}

/* Content Hidden */

.p1 {
  transform: translate(0%, 20%);
  transition-delay: 400ms;
}
.p2 {
  transform: translate(0%, 20%);
  transition-delay: 600ms;
}

.p3 {
  transform: translate(0%, 20%);
  transition-delay: 800ms;
}

.rich {
  transform: translate(0%, 70%);
  transition-delay: 600ms;
}

.rich-2 {
  transform: translate(0%, 40%);
  transition-delay: 600ms;
}

.hidden-flower {
  transform: translate(0%, 40%);
  transition-delay: 1500ms;
}

.hidden-flower {
  transform: translate(0%, 40%);
  transition-delay: 1500ms;
}

/* --------- Show --------- */

.show {
  opacity: 1;
  transform: translate(0);
}

.show-hide {
  opacity: 0;
}
